@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Slab&display=swap');

body, html{
    font-family: 'PT Sans Narrow', sans-serif;
}

h1, h2,h3,h4{
    text-align: center;
}
p{
    margin:1.5em;
}
p .desc{
   color:white;
}


a{
    color:black;
    text-decoration: underline;
}

a:hover{
    color:lightgray;
    text-decoration: underline;
}

#menu{
    position: absolute;
    background:lightgray;
    margin: auto 0;
}

.menuItem{
    background:mediumseagreen;
    font-weight: bold;
    padding:1em;
    text-align: center;
    margin:1em;
    font-size:1.5em;
}

.responsive {
    width: 100%;
    height: auto;
    max-height:325px
}

.gallery{
    margin:auto 0;
    display: flex;
    flex-direction: row;
}

.pic{
    width:20%;
    margin:5px;
    flex-grow: 4;
}
#testing{
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1em;
}

#exportBtn{
    margin:auto 0;
    font-size:1.5em;
    height: 60px;
    background: lightblue;
}

