body, html{
    font-family: monospace;
}

h1, h2,h3,h4{
    text-align: center;
}
p{
    margin:1.5em;
    text-align: center;
    font-size: 1.5em;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:lightgray;
    text-decoration: underline;
}

#menu{
    position: absolute;
    background:lightgray;
    margin: auto 0;
}

.menuItem{
    background:mediumseagreen;
    font-weight: bold;
    padding:1em;
    text-align: center;
    font-size:1.5em;
    margin:1em;

}

.responsive {
    width: 100%;
    height: auto;
    max-height:325px
}

.gallery{
    margin:auto 0;
    display: flex;
    flex-direction: row;
}

.pic{
    width:20%;
    margin:5px;
    flex-grow: 4;
}
#Testing{
    position: absolute;
    z-index: 1000;
    left:25%;
    top:5%;
}

